body{
    background-color: rgb(235, 235, 235);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
}
.first{
    grid-column: 1/3;
    grid-row: 1/1;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
}
.second{
    grid-column: 1/1;
    grid-row: 2/2;
}
.third{
    grid-column: 2/2;
    grid-row: 2/2;
}
.align-list{
    width: 200px;
}
.input1{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 200px;
    border: 0;
    border-bottom: 1px solid rgb(191, 191, 191);
    font-size: .9rem;
    padding-bottom: 3px;
    padding-top: 3px;
}
.input2{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 200px;
    border: 0;
    border-bottom: 1px solid rgb(191, 191, 191);
    font-size: .9rem;
    padding-bottom: 3px;
    padding-top: 3px;
}
.autocomplete-list{
    grid-column: 1/1;
    grid-row: 2/2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    max-height: 44px;
    overflow: scroll;
}
.autocomplete-list li{
    padding: 2px;
    font-size: .9rem;
    text-align: left;
}
.fourth{
    grid-column: 2/2;
    grid-row: 2/2;
    display: flex;
    translate: -40%;
    height: 25px;
    margin-top: 50px;
}
.compare-button{
    border: 1px solid blue;
    cursor: pointer;
}
.fifth{
    grid-column: 1/2;
    grid-row: 3/3;
    width: 520px;
    font-family: 'Montserrat', sans-serif;
}
.sixth{
    grid-column: 1/2;
    grid-row: 4/4;
    width: 500px;
}
.seventh{
    grid-column: 2/3;
    grid-row: 4/4;
    width: 500px;
}
